@import uk.gov.hmrc.valuationofficeagencycontactfrontend.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.controllers.routes._
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.models.Mode
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.viewmodels.InputViewModel

@(appConfig: FrontendAppConfig, form: Form[Int], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = $className$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.heading("$className;format="decap"$.heading")

        @components.input_text(InputViewModel[Int]("value", form), label = messages("$className;format="decap"$.heading"), labelClass=Some("visually-hidden"))

        @components.submit_button()
    }
}
