@import uk.gov.hmrc.valuationofficeagencycontactfrontend.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.controllers.$pluralName;format="lower"$.routes._
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.models.{Mode, $className$}
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.utils.FormHelpers
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.viewmodels.InputViewModel
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.views.html._

@(index: Int, $className;format="decap"$: $className$, appConfig: FrontendAppConfig, form: Form[Boolean], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$pluralName;format="decap"$.delete.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = Delete$className;format="cap"$Controller.onSubmit(index, mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.heading("$pluralName;format="decap"$.delete.heading")

        @components.input_yes_no(
            InputViewModel[Boolean]("value", form),
            label = messages("$pluralName;format="decap"$.delete.heading"),
            labelClass = Some("visually-hidden")
        )

        @components.submit_button()
    }
}
