@import uk.gov.hmrc.valuationofficeagencycontactfrontend.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.controllers.$pluralName;format="lower"$.routes._
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.utils.FormHelpers
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.models.{Mode, $className$}
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.viewmodels.InputViewModel
@import uk.gov.hmrc.valuationofficeagencycontactfrontend.views.html._

@(index: Int, appConfig: FrontendAppConfig, form: Form[$className$], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$pluralName;format="decap"$.edit.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = Edit$className;format="cap"$Controller.onSubmit(index, mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.heading("$pluralName;format="decap"$.edit.heading")

        @components.input_text(InputViewModel[$className$]("field1", form), label = messages("$className;format="decap"$.field1"))

        @components.input_text(InputViewModel[$className$]("field2", form), label = messages("$className;format="decap"$.field2"))

        @components.submit_button()
    }
}
