@import 'partials/_tabular-data-print';

.transaction-banner__heading,
.header__menu__proposition-name{
    color: rgb(11, 12, 12);
}

html{
    background-color: #fff
}
#logo{
    color: #0b0c0c;
}
/* hide the unnecessary page elements */
#footer,
.service-info,
.button,
.label--inline-right,
.print-hide {
  display: none !important;
}
html {
    #wrapper, #content {
        padding: 0 !important;
    }
}
